<!DOCTYPE HTML>
<html>
<head>
  <title>Hello!</title>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <link rel="stylesheet" href="../static/css/highcharts.css">
  <!-- <link rel="stylesheet" href="../static/css/highcharts.css"> -->
</head>
<body>
  {% if name %}
    <p>Hello {{ name }}!</p>
  {% else %}
    <p>Hello world2!</p>
  {% endif %}

  <figure class="highcharts-figure">
      <div id="container"></div>
      <p class="highcharts-description">
          Basic line chart showing trends in a dataset. This chart includes the
          <code>series-label</code> module, which adds a label to each line for
          enhanced readability.
      </p>
  </figure>
  <script type="text/javascript">

  Highcharts.chart("container", {
    title: {
      text: "Running pace",
    },
    yAxis: {
      title: {
        text: 'Pace (min/km)'
      },
      type: 'datetime',
      dateTimeLabelFormats: {
        minute: "%M:%S",
      }
    },
    tooltip: {
      pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y: %M:%S}</b><br/>'
    },
    xAxis: {
      type: "datetime",
    },
    legend: {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle'
    },
    series: [{
      color: "#dddddd",
      name: 'Pace',
      data: [
        { x: Date.UTC(2020,06,09,19,13), y: 344.0*1000, name: "LSD" },
        { x: Date.UTC(2020,06,07,19,45), y: 408.0*1000, name: "HIRT" },
        { x: Date.UTC(2020,06,06,19,09), y: 414.0*1000, name: "LSD" },
        { x: Date.UTC(2020,06,06,01,26), y: 525.0*1000, name: "HIRT" },
        { x: Date.UTC(2020,06,04,11,14), y: 446.0*1000, name: "LSD" },
        { x: Date.UTC(2020,06,03,01,45), y: 420.0*1000, name: "LSD" },
        { x: Date.UTC(2020,06,01,10,43), y: 402.0*1000, name: "LSD" },
        { x: Date.UTC(2020,05,23,22,18), y: 432.0*1000, name: "LSD" },
        { x: Date.UTC(2020,05,21,11,16), y: 378.0*1000, name: "Sprint", color: "#b90e0a" },
        { x: Date.UTC(2020,05,16,21,31), y: 397.0*1000, name: "Incline", color: "#fc6a03" },
        { x: Date.UTC(2020,05,14,19,46), y: 410.0*1000, name: "Incline", color: "#fc6a03" },
        { x: Date.UTC(2020,05,09,09,52), y: 417.0*1000, name: "Incline", color: "#fc6a03" },
        { x: Date.UTC(2020,05,07,22,51), y: 414.0*1000, name: "Incline", color: "#fc6a03" },
        { x: Date.UTC(2020,04,20,00,11), y: 468.0*1000, name: "LSD" },
        { x: Date.UTC(2020,04,17,19,40), y: 305.0*1000, name: "Sprint", color: "#b90e0a" },
        { x: Date.UTC(2020,04,14,20,27), y: 400.0*1000, name: "LSD" },
      ],
      dataLabels: {
        enabled: false,
        formatter: function () {
          var time = this.y/1000;
          var m = parseInt(time/60);
          var s = parseInt(time%60);
          return "" + m + ":" + (s < 10 ? "0"+s : s);
        },
      },
    }],
  });
  </script>
</body>
</html>
